<section class="contenedor_verificarTareas">
  <!-- Filtros -->
  <div class="contenedor_filtros">
    <div>
      <!-- vacio -->
    </div>

    <div>
      <!-- vacio -->
    </div>

    <div>
      <select class="input input_select" name="" id="">
        <option value="">Game</option>
        <option value="">Destiny2</option>
      </select>
    </div>

    <div>
      <input class="input" type="text" placeholder="Buscar orden..." />
    </div>
  </div>

  <!-- list -->
  <!-- orders.component.html -->
  <div class="contenedor_list">
    <div class="player-card" *ngFor="let order of listCompletedOrders">
      <div class="div"
      (click)="navigateToPage(order.order_item_id)">
        <div class="info_general">
          <span class="name">{{ order.name }}</span>
          <div class="info_order">
            <span class="title">{{ order.order_item_name }}</span>
            <span class="description">{{ order.order_item_name }}</span>
          </div>
        </div>

        <div class="info">
          <span>Tiempo de finalización: {{ order.duration }}</span>
          <!-- <span>Valoración del cliente: <span class="valoration">{{ order.clientRating }}</span>  -->
          <span
            >Valoración del cliente: <span class="valoration">{{ order.rating }}</span>
          </span>
          <span>Valor de la tarea: {{ order.total_amount }}</span>

          <!-- is_order_approved -->
          <div *ngIf="order.is_order_approved == 0; else approvedOrRejected">
            <span
            class="status">Pendiente</span>
          </div>
          <ng-template #approvedOrRejected>
            <div *ngIf="order.is_order_approved == 1">
              <span class="status">Aprovado</span>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="contenedor_botones">
        <button
          class="button efects_button btn_actualizar"
           (click)="markOrderAsApproved(order)"
        >
          Verificar
        </button>

        <button class="button efects_button" >
          Nuevo monto
        </button>
        <p-dialog
          header="Asignar nuevo valor por alguna observacion"
          [(visible)]="visible"
          [style]="{ width: '50vw' }"
        >
          <div class="contenedor_inputs_otrovalor">
            <input
              class="input"
              type="number"
              placeholder="Ingresar nuevo monto"
            />
            <input
              class="input"
              type="text"
              placeholder="Ingresar observacion por el cambio de valor"
            />
            <button class="button efects_button btn_enviar"

            >Verificar</button>
          </div>
        </p-dialog>
      </div>
    </div>
  </div>
</section>
