<section class="content-navbar dimension-nav" [ngClass]="{'dimension-nav-hidden': sidebarHidden}">
  <!-- Toggle sidebar -->
  <div class="icon-menu-sidebar" (click)="triggerToggleSidebar()">
    <i class='bx bx-menu-alt-left' [ngClass]="{'bx-menu': sidebarHidden,'bx-menu-alt-left': !sidebarHidden}"></i>
  </div>

  <!-- Balance -->
  <div class="content_balance">
    <span class="title">Balance:</span>
    <span class="number">$ {{ balance }}</span>
  </div>

  <!-- contenido -->
  <main class="navbar">
    
    <!-- Notificaciones -->
    <div class="notification_button" (click)="toggleNotifications()"
      [ngClass]="{notification_button_active: notificationService.showNotification$ | async}">
      @if (countNotifications !== 0) {
      <div class="number">
        <span>{{countNotifications}}</span>
      </div>
      }
      @if (notificationService.showNotification$ | async) {
      <i class="fa-solid fa-bell"></i>
      } @else {
      <i class="fa-sharp fa-regular fa-bell"></i>
      }
    </div>

    <button class="profile-icon" [ngClass]="{'active-menu-profile': menuService.showMenuProfile$ | async}"
      (click)="toggleMenuProfile()">
      <div class="name-profile">
        <span>{{ firstname_user }}</span>
        <span>{{ lastname_user }}</span>
      </div>
      <div class="icon-profile">
        <img src="assets/img/default/user.svg">
      </div>
    </button>
  </main>
</section>

<!-- Panel de notificaciones -->
@if ((notificationService.showNotification$ | async)) {
<app-notification [routes]="routes"></app-notification>
}

<!-- Boton para volver hacia arriba -->
@if (showScrollButton) {
<button id="btn_top" (click)="scrollToTop()"><i class='bx bxs-chevrons-up'></i></button>
}

<!-- Menu de perfil -->
@if (menuService.showMenuProfile$ | async) {
<app-menu-profile [routes]="routes"></app-menu-profile>
}