@use "../../../../../assets/scss/vars/colors" as colors;
@use "../../modulo1.component.scss";

.dimension-nav {
  @extend .dimension-nav;
}

.dimension-nav-hidden {
  @extend .dimension-nav-hidden;
}

// vars
$fondo-active-hover: darken(colors.$primary, 5);

// ==============================
// NAVBAR
// ==============================
.content-navbar {
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  padding: 8px 0px;
  align-items: center;
  color: colors.$white;
  background-color: #202938;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.content_balance {
  display: grid;
  padding-left: 10px;
  gap: 5px;

  .title {
    font-size: 12px;
    font-weight: bold;
  }

  .number {
    font-size: 20px;
  }
}

.navbar {
  display: flex;
  width: 100%;
  min-height: 50px;
  align-items: center;
  justify-content: right;
  gap: 10px;

  // TODO: responsive 300px
  @media screen and (max-width: 300px) {
    width: auto;
  }
}