<section class="section">
  <div class="left"></div>
  <div class="right">
    <div class="recuperar-container">
      <div class="form">
        <h2>
          JEFATURA DE LABORATORIOS
          <span>DEPARTAMENTO DE CIENCIAS DE LA COMPUTACIÓN</span>
        </h2>
        <p>Ingrese su correo electrónico.</p>
        <input
          type="email"
          placeholder="Correo Electrónico"
          [(ngModel)]="correo"
          required
        />
        <button
          [disabled]="isSaving || !correo.trim()"
          class="p-[4px]"
          (click)="enviarCorreo()"
        >
          {{ isSaving ? "Cargando..." : "Enviar Código" }}
        </button>
      </div>
    </div>
  </div>
</section>
