<section class="contenedor_empleados">

  <!-- Filtros -->
  <div class="contenedor_filtros">
    <div>
      <!-- vacio -->
    </div>

    <div>
      <!-- vacio -->
    </div>

    <div>
      <!-- vacio -->
    </div>

    <div>
      <input class="input" type="text" placeholder="Buscar empleado...">
    </div>
  </div>

  <hr class="divisor">



  <div class="contenedor_tabla">
    <p-table [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
          <th>Ingresos</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>Armando Josue</td>
          <td>Velasquez Delgado</td>
          <td>ajvelasquez4agmail.com</td>
          <td>$500</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
