// Imports
@use "../../../../../../assets/scss/vars/colors" as colors;

.contenedor_empleados {
  display: grid;
  gap: 10px;
  padding: 10px 0;

  .contenedor_filtros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;

    .input {
      width: 80%;
    }
  }

  .contenedor_tabla {
    display: grid;
  }
}


