<section class="contenedor_charSupport">
  <!-- Filtros -->
  <div class="contenedor_filtros">
    <div>
      <!-- vacio -->
    </div>

    <div>
      <!-- vacio -->
    </div>

    <div>
      <!-- vacio -->
    </div>

    <div>
      <input class="input" type="text" placeholder="Buscar chat..." />
    </div>
  </div>

  <hr class="divisor" />
  <!-- Agerga la oipcion de calidficar  -->
  <div class="contenedor_filtros">
    <div>
      <button
        *ngIf="currentGroup !== undefined"
        class="button2 efects_button btn_nuevo"
        (click)="openDialog()"
        [style.width]="'5vw'"
      >
        <span class="pi pi-star"></span> Calificar
      </button>
    </div>
  </div>
  <!-- Chat -->
  <div class="contenedor_chat">
    <!-- contenedor de mensajes -->
    <div>
      <div class="card">
        <p-tabView>
          <p-tabPanel header="Progreso">
            <div class="chats">
              <div
                *ngFor="let client of clientsByEmployeStartTrue"
                class="content"
              >
                <div (click)="getMessagesByGroup(client)" class="content">
                  <div class="message">
                    <span class="title">Cliente#{{ client.customer_id }}</span>
                    <span class="text">
                      <b>Mensaje:</b> {{ client.order_item_name }}
                    </span>
                  </div>
                  <div class="hour">
                    <span><i class="bx bx-check-double"></i></span>
                    <span class="time">{{ client.customer_name }}</span>
                    <!-- Indicador de mensajes no leídos -->
                    <span
                      *ngIf="client.unread_messages > 0"
                      class="unread-messages"
                    >
                      {{ client.unread_messages }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Finalizado">
            <div class="chats">
              <div
                *ngFor="let client of clientsByEmployeStartFalse"
                class="content"
              >
                <div (click)="getMessagesByGroup(client)" class="content">
                  <div class="message">
                    <span class="title">Cliente#{{ client.customer_id }}</span>
                    <span class="text">
                      <b>Mensaje:</b> {{ client.order_item_name }}
                    </span>
                  </div>
                  <div class="hour">
                    <span><i class="bx bx-check-double"></i></span>
                    <span class="time">{{ client.customer_name }}</span>
                  </div>
                </div>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>

    <!-- Contenedor de chats -->
    <div>
      <section class="content_chat_component">
        <div class="chat">
          <div class="contact bar">
            <div class="name">
              <span class="nameEmployee">{{ nameCliente }}</span>
            </div>

            <div class="title_orden">
              <span>{{ nameOrder }}</span>
            </div>
          </div>

          <div class="messages" id="chat">
            <div
              class="message"
              [ngClass]="msg.sender"
              *ngFor="let msg of messages"
            >
              <span class="user-name">{{ msg.name }}</span>
              {{ msg.message_text }}
            </div>

            <!-- <div class="message stark">
              <div class="typing typing-1"></div>
              <div class="typing typing-2"></div>
              <div class="typing typing-3"></div>
            </div> -->
          </div>

          <div class="content_text">
            <div *ngIf="currentOrder?.finish_chat !== 1; else chatFinished">
              <input
                [(ngModel)]="newMessage"
                placeholder="Escribe un mensaje"
                type="text"
              />
              <button
                class="button2 efects_button btn_nuevo"
                [style.width]="'5vw'"
                (click)="sendMessage()"
              >
                <span class="pi pi-send"></span> Enviar
              </button>
            </div>
            <ng-template #chatFinished>
              <div
                class="content_text"
                style="text-align: center; padding: 20px"
              >
                <span
                  style="
                    font-size: 1em;
                    color: rgb(91, 89, 183);
                    margin-top: 5px;
                  "
                >
                  Chat terminado.
                </span>
              </div>
            </ng-template>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
