<div class="mx-auto py-3 px-4">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-center text-gray-800 font-extrabold text-xl tracking-wide">
      LABORATORIO
      {{ numeroLaboratorio }} - PERIODO {{ periodoActivo?.nombrePeriodo }}
    </h2>
    <button
      class="rounded-lg text-white text-sm py-2 px-3 bg-gray-800 hover:bg-gray-900"
      (click)="abrirModal()"
    >
      <i class="bi bi-plus-circle"></i> Nueva Reserva
    </button>
  </div>
  <div class="overflow-x-auto shadow-lg rounded-lg">
    <table class="min-w-full bg-white divide-y divide-gray-200">
      <thead>
        <tr class="bg-gray-800">
          <th
            class="px-6 py-3 text-center text-white text-lg font-semibold uppercase"
          >
            HORAS
          </th>
          <th
            *ngFor="let dia of dias"
            class="px-2 py-1 text-center text-white text-md font-semibold uppercase"
          >
            {{ dia }}
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr *ngFor="let hora of horas">
          <td class="px-2 py-1 text-center font-medium">
            {{ hora }}
          </td>
          <ng-container *ngFor="let dia of dias">
            <ng-container *ngIf="obtenerReservaInicio(dia, hora) as reserva">
              <td
                [attr.rowspan]="getReservaRowspan(reserva)"
                class="px-6 py-4 text-center align-middle border border-gray-200 hover:bg-blue-50 cursor-pointer"
              >
                <ng-container *ngIf="reserva.tipo === 'CLASE'; else otroTipo">
                  <strong class="block text-blue-900 mb-1">{{
                    reserva.nombreMateria
                  }}</strong>
                  <span class="block text-sm text-gray-700">{{
                    reserva.nombreDocente
                  }}</span>
                </ng-container>
                <ng-template #otroTipo>
                  <strong class="block text-blue-900 mb-1"
                    >Reserva Confirmada:</strong
                  >
                  <span class="block text-sm text-gray-700"
                    >Nombre: {{ reserva.nombreDocente }}</span
                  >
                  <span class="block text-sm text-gray-700"
                    >Correo: {{ reserva.correoDocente }}</span
                  >
                  <span class="block text-sm text-gray-700"
                    >Motivo: {{ reserva.motivo }}</span
                  >
                </ng-template>
              </td>
            </ng-container>
            <ng-container
              *ngIf="
                !obtenerReservaInicio(dia, hora) &&
                !isReservaContinuacion(dia, hora)
              "
            >
              <td
                class="px-6 py-4 text-center border border-gray-200 hover:bg-blue-50 cursor-pointer"
                (click)="abrirModalConHorario(dia, hora)"
              >
                Disponible
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Modal para crear o editar reserva -->
  <div
    class="modal fade"
    [id]="'modalReserva' + numeroLaboratorio"
    tabindex="-1"
    [attr.aria-labelledby]="'modalReservaLabel' + numeroLaboratorio"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-gray-800 text-white">
          <h5 class="modal-title">
            {{
              isEditing
                ? "Editar Reserva"
                : "Nueva Reserva - Laboratorio " + numeroLaboratorio
            }}
          </h5>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="cerrarModal()"
          ></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="guardarReserva()" novalidate>
            <div class="grid grid-cols-2 gap-4">
              <div class="mb-1">
                <label for="telefono" class="form-label">Teléfono</label>
                <input
                  type="text"
                  id="telefono"
                  [(ngModel)]="nuevaReserva.telefono"
                  name="telefono"
                  class="form-control"
                  required
                />
              </div>
              <div class="mb-1">
                <label for="cantidadParticipantes" class="form-label"
                  >Cantidad de Participantes</label
                >
                <input
                  type="number"
                  id="cantidadParticipantes"
                  [(ngModel)]="nuevaReserva.cantidadParticipantes"
                  name="cantidadParticipantes"
                  class="form-control"
                  min="1"
                  required
                />
              </div>
              <!-- Selector de Hora de Inicio -->
              <div class="mb-3">
                <label for="horaInicio" class="form-label"
                  >Hora de Inicio</label
                >
                <select
                  [(ngModel)]="nuevaReserva.horaInicio"
                  name="nuevaReserva.horaInicio"
                  id="horaInicio"
                  class="form-select"
                  required
                >
                  <option value="" disabled selected>
                    Seleccione la hora de inicio
                  </option>
                  <option
                    *ngFor="let franja of franjasPermitidas"
                    [value]="franja.horaInicio"
                  >
                    {{ franja.horaInicio }}
                  </option>
                </select>
              </div>
              <!-- Selector de Hora de Fin -->
              <div class="mb-3">
                <label for="horaFin" class="form-label">Hora de Fin</label>
                <select
                  [(ngModel)]="nuevaReserva.horaFin"
                  name="horaFin"
                  id="horaFin"
                  class="form-select"
                  required
                >
                  <option value="" disabled selected>
                    Seleccione la hora de fin
                  </option>
                  <option
                    *ngFor="let franja of franjasPermitidas"
                    [value]="franja.horaFin"
                  >
                    {{ franja.horaFin }}
                  </option>
                </select>
              </div>

              @if(!isEditing){

              <div class="mb-1">
                <label for="estado" class="form-label">Estado</label>
                <select
                  id="estado"
                  [(ngModel)]="nuevaReserva.estado"
                  name="estado"
                  class="form-select"
                  required
                >
                  <option value="PENDIENTE">Pendiente</option>
                </select>
              </div>
              }
              <div class="mb-1">
                <label for="dia" class="form-label">Día</label>
                <select
                  [(ngModel)]="nuevaReserva.dia"
                  name="horaFin"
                  id="horaFin"
                  class="form-select"
                  required
                >
                  <option value="" disabled selected>
                    Seleccione la hora de fin
                  </option>
                  <option *ngFor="let dia of dias" [ngValue]="dia">
                    {{ dia }}
                  </option>
                </select>
              </div>
              <div class="mb-1">
                <label for="fechaReserva" class="form-label"
                  >Fecha de Reserva</label
                >
                <input
                  type="date"
                  [(ngModel)]="nuevaReserva.fechaReserva"
                  name="fechaReserva"
                  id="fechaReserva"
                  class="form-control"
                  required
                  [min]="minDate"
                  [max]="maxDate"
                />
              </div>
              <div class="col-span-2 mb-1">
                <label for="motivoReserva" class="form-label">Motivo</label>
                <textarea
                  id="motivoReserva"
                  [(ngModel)]="nuevaReserva.motivoReserva"
                  name="motivoReserva"
                  class="form-control"
                  rows="3"
                  required
                ></textarea>
              </div>
              <div class="col-span-2 mb-1">
                <label for="requerimientosTecnicos" class="form-label"
                  >Requerimientos Técnicos</label
                >
                <textarea
                  id="requerimientosTecnicos"
                  [(ngModel)]="nuevaReserva.requerimientosTecnicos"
                  name="requerimientosTecnicos"
                  class="form-control"
                  rows="2"
                ></textarea>
              </div>
            </div>
            <div class="text-end">
              <button
                type="submit"
                class="btn btn-dark mr-2"
                [disabled]="isSaving"
              >
                <span
                  *ngIf="isSaving"
                  class="spinner-border spinner-border-sm me-2"
                  role="status"
                  aria-hidden="true"
                ></span>
                {{ isEditing ? "Guardar Cambios" : "Crear Reserva" }}
              </button>
              <button
                type="button"
                class="btn btn-warning"
                (click)="cerrarModal()"
                [disabled]="isSaving"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-4 mb-2">
    <label for="horaInicio">Hora de Inicio</label>
    <select
      id="hora-inicio"
      class="form-select form-select-sm d-inline-block w-auto"
      style="max-width: 200px"
      [(ngModel)]="nuevaReserva.horaInicio"
      name="horaInicio"
      required
    >
      <option value="" disabled selected>Seleccione la hora de inicio</option>
      <option value="07:00" selected>07:00</option>
      <option value="08:00">08:00</option>
      <option value="09:00">09:00</option>
      <option value="10:00">10:00</option>
      <option value="11:00">11:00</option>
      <option value="12:00">12:00</option>
    </select>
    <button class="btn btn-primary ml-2" (click)="actualizarHorario()">
      Guardar Horario
    </button>
  </div>
</div>
