@if (loginForm) {

<section class="section">

  <div class="left">

  </div>

  <div class="right">

    <div class="login-container">
      <!-- Utiliza el FormGroup para encapsular los controles del formulario -->
      <form class="" [formGroup]="loginForm" id="login_form">
        <h1>JEFATURA DE LABORATORIOS <span>DEPARTAMENTO DE CIENCIAS DE LA COMPUTACIÓN</span></h1>

        <h3 class=" text-center">{{title}}</h3>
        <!-- Campo de correo electrónico -->
        <p class="">Nombre de Usuario</p>
        <input class="" type="text" id="username" formControlName="username" placeholder="Ingrese su nombre de usuario">
        <!-- Mostrar mensaje de error si el campo de correo electrónico es inválido -->
        @if (usernameControl && usernameControl.errors && usernameControl.touched) {
        <div class="">
          @if (usernameControl.errors['required']) {
          <div>
            Ingrese el correo electrónico.
          </div>
          }
        </div>
        }
        <!-- Campo de Contraseña -->
        <p>Contraseña</p>
        <div class="password-container">
          <input [type]="showPassword ? 'text' : 'password'" id="password_user" formControlName="password_user" placeholder="Ingrese su contraseña ">
          <span class="password-icon" (click)="showPassword = !showPassword">👁</span>
          
        </div>
        <div class="error-container">
          <div class="error-message" [hidden]="!loginForm.get('password_user')?.touched || !loginForm.get('password_user')?.errors">
            <div [hidden]="!loginForm.get('password_user')?.errors?.['required']">
              Ingrese su contraseña.
            </div>
          </div>
        </div>
        <!-- Mostrar mensaje de error -->
        @if (errorMenssage) {
        <div class="error-message">{{ errorMenssage }}</div>
        }
        <!-- Botón de enviar -->
        <div class="btn_contenedor_login">
          <button class="button efects_button" (click)="login()">INGRESAR</button>
        </div>
      </form>
    </div>
  </div>
</section>
}