@if (loginForm) {
<section class="section">
  <div class="left"></div>
  <div class="right">
    <div class="login-container">
      <form [formGroup]="loginForm" id="login_form">
        <h2>
          JEFATURA DE LABORATORIOS
          <span>DEPARTAMENTO DE CIENCIAS DE LA COMPUTACIÓN</span>
        </h2>

        <h3 class="text-center">{{ title }}</h3>
        <!-- Campo de correo electrónico -->
        <p class="">Correo Electrónico</p>
        <input
          class=""
          type="text"
          id="username"
          formControlName="username"
          placeholder="Ingrese su correo electrónico"
        />
        <!-- Mostrar mensaje de error si el campo de correo electrónico es inválido -->
        <div *ngIf="usernameControl?.touched && usernameControl?.invalid">
          <div *ngIf="usernameControl?.errors?.['required']">
            Ingrese el correo usuario.
          </div>
        </div>

        <!-- Campo de Contraseña -->
        <p>Contraseña</p>
        <div class="password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password_user"
            formControlName="password_user"
            placeholder="Ingrese su contraseña"
          />
          <span class="password-icon" (click)="showPassword = !showPassword"
            >👁</span
          >
        </div>
        <div class="error-container">
          <div
            class="error-message"
            *ngIf="
              loginForm.get('password_user')?.touched &&
              loginForm.get('password_user')?.invalid
            "
          >
            <div *ngIf="loginForm.get('password_user')?.errors?.['required']">
              Ingrese su contraseña.
            </div>
          </div>
        </div>

        <!-- Link de recuperación de contraseña -->
        <div class="text-center mt-2">
          <a class="forgot-password-link" (click)="goToRecovery()">
            ¿Olvidaste tu contraseña?
          </a>
        </div>

        <!-- Mostrar mensaje de error -->
        <div *ngIf="errorMenssage" class="error-message">
          {{ errorMenssage }}
        </div>

        <!-- Botón de enviar -->
        <div class="btn_contenedor_login">
          <button class="button efects_button" (click)="login()">
            INGRESAR
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

}
