<section class="section">
  <div class="left"></div>
  <div class="right">
    <div class="recuperar-container">
      <div class="form">
        <h2>Verificar Código</h2>
        <p>Se ha enviado un código de verificación a {{ correo }}.</p>
        <input
          type="text"
          placeholder="Ingrese el código"
          [(ngModel)]="code"
          maxlength="6"
          required
        />
        <button
          [disabled]="isVerifying || !code.trim() || code.length !== 6"
          (click)="verificarCodigo()"
        >
          {{ isVerifying ? "Verificando..." : "Verificar Código" }}
        </button>
      </div>
    </div>
  </div>
</section>
