<section class="section">
  <div class="left"></div>
  <div class="right">
    <div class="recuperar-container">
      <div class="form">
        <h2>Restablecer Contraseña</h2>
        <p>Ingrese una nueva contraseña.</p>
        
        <div class="password-container">
          <input
            [type]="mostrarPassword ? 'text' : 'password'"
            placeholder="Nueva Contraseña"
            [(ngModel)]="newPassword"
            required
          />
          <i
            class="password-icon bx"
            [class.bx-show]="!mostrarPassword"
            [class.bx-hide]="mostrarPassword"
            (click)="togglePassword()"
          ></i>
        </div>

        <button (click)="resetPassword()">Actualizar Contraseña</button>
      </div>
    </div>
  </div>
</section>
