<div class="min-h-screen z-0">
    <div class="p-4 ">
        <div class="mx-6 grid pt-8 gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
            <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                <div class="bg-clip-border mx-4 rounded-xl overflow-hidden cursor-pointer  bg-gradient-to-tr from-blue-500 to-blue-700 text-white shadow-blue-800/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
                    <i class='bx bx-calendar' style='color:white; font-size: 34px;'></i>
                </div>
                <div class="p-4 text-right">
                    <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-600">
                        Reservas Pendientes
                    </p>
                    <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-900">
                        {{ totalReservasPendientes }}</h4>
                </div>
            </div>

            <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                <div class="bg-clip-border mx-4 rounded-xl overflow-hidden cursor-pointer bg-gradient-to-tr from-red-500 to-red-700 text-white shadow-red-800/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
                    <i class='bx bx-chalkboard' style='color:white; font-size: 34px;'></i>
                </div>
                <div class="p-4 text-right">
                    <p class="block antialiased font-sans text-sm leading-normal font-normal text-red-600">
                        Docentes </p>
                    <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-red-900">
                        {{ totalDocentes }}</h4>
                </div>
            </div>

            <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                <div class="bg-clip-border mx-4 rounded-xl overflow-hidden cursor-pointer bg-gradient-to-tr from-purple-500 to-purple-700 text-white shadow-purple-800/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
                    <i class='bx bx-book' style='color:white; font-size: 34px;'></i>
                </div>
                <div class="p-4 text-right">
                    <p class="block antialiased font-sans text-sm leading-normal font-normal text-purple-600">
                        Carreras
                    </p>
                    <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-purple-900">
                        {{ totalCarreras }}</h4>
                </div>
            </div>

            <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                <div class="bg-clip-border mx-4 rounded-xl overflow-hidden cursor-pointer bg-gradient-to-tr from-yellow-500 to-yellow-700 text-white shadow-yellow-800/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
                    <i class='bx bx-building' style='color:white; font-size: 34px;'></i>
                </div>
                <div class="p-4 text-right">
                    <p class="block antialiased font-sans text-sm leading-normal font-normal text-yellow-600">
                        Departamentos </p>
                    <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-yellow-900">
                        {{ totalDepartamentos }}</h4>
                </div>
            </div>

            <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                <div class="bg-clip-border mx-4 rounded-xl overflow-hidden cursor-pointer bg-gradient-to-tr from-green-500 to-green-700 text-white shadow-green-800/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
                    <i class='bx bxs-flask' style='color:white; font-size: 34px;'></i>
                </div>
                <div class="p-4 text-right">
                    <p class="block antialiased font-sans text-sm leading-normal font-normal text-green-600">
                        Laboratorios
                    </p>
                    <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-green-900">
                        {{totalLaboratorios}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
