<div class="">
  <h2 class="text-center text-[#0066CC] font-bold mb-6 text-2xl">
    LABORATORIO 6 - Horario de Clases
  </h2>

  <div class="rounded-xlborder shadow-sm">
    <table class="w-full border-collapse bg-white">
      <thead>
        <tr class="bg-[#0066CC]">
          <th class="p-3 font-bold text-white">HORAS</th>
          <th *ngFor="let dia of dias" class="text-center font-bold text-white">
            {{ dia }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let hora of horas; let i = index"
          [ngClass]="{ 'bg-gray-50': i % 2 === 0, 'bg-white': i % 2 !== 0 }"
        >
          <td class="p-3 font-bold text-center border border-gray-200">
            {{ hora }}
          </td>
          <td
            *ngFor="let dia of dias"
            class="p-3 text-center border border-gray-200 hover:bg-blue-50 transition-colors cursor-pointer"
          >
            <ng-container
              *ngIf="
                obtenerReservaEnHorario(dia, hora) as horarioEncontrado;
                else disponible
              "
            >
              <div class="p-2">
                <strong class="block text-[#0066CC] mb-1"
                  >Reserva Confirmada:</strong
                >
                <span class="block text-sm"
                  >Nombre: {{ horarioEncontrado.reserva.nombreCompleto }}</span
                >
                <span class="block text-sm"
                  >Correo: {{ horarioEncontrado.reserva.correo }}</span
                >
                <span class="block text-sm"
                  >Motivo: {{ horarioEncontrado.reserva.motivoReserva }}</span
                >
              </div>
            </ng-container>
            <ng-template #disponible>
              <span class="text-gray-500">Disponible</span>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
