<div>
  <h2 class="text-center text-blue-600 font-bold mb-4 text-xl">LABORATORIO 1 - Horario de Clases</h2>
  <!-- Tabla de horarios -->
  <div class="overflow-x-auto">
    <table class="min-w-full table-auto border-collapse border border-gray-300 text-center align-middle">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="px-4 py-2 text-lg font-semibold">HORAS</th>
          <th *ngFor="let dia of dias" class="px-4 py-2 text-lg font-semibold">{{ dia }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hora of horas">
          <td class="font-bold px-4 py-2">{{ hora }}</td>
          <td *ngFor="let dia of dias" class="cursor-pointer hover:bg-blue-100 px-4 py-2">
            <!-- Aquí se verifica el estado de la reserva -->
            <!-- <ng-container *ngIf="obtenerHorario(hora, dia)?.reserva?.estado === 'APROBADA'; else disponible">
              <div>
                <strong>Reserva Confirmada:</strong><br>
                Nombre: {{ obtenerHorario(hora, dia) ?.reserva?.nombreCompleto }}<br>
                Correo: {{ obtenerHorario(hora, dia)?.reserva?.correo }}<br>
                Participantes: {{ obtenerHorario(hora, dia)?.reserva?.cantidadParticipantes }}<br>
                Hora: {{ obtenerHorario(hora, dia)?.reserva?.horaInicio }} - {{ obtenerHorario(hora, dia)?.reserva?.horaFin }}<br>
                Laboratorio: {{ obtenerHorario(hora, dia)?.reserva?.laboratorio?.nombreLaboratorio }}<br>
                Ubicación: {{ obtenerHorario(hora, dia)?.reserva?.laboratorio?.ubicacion }}<br>
              </div>
            </ng-container>            
            
            <ng-template #disponible>
              {{hora}}{{dia}}
              {{ obtenerHorario(hora, dia)?.reserva?.estado || 'Disponible' }}
            </ng-template> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  .clickable-cell {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .clickable-cell:hover {
    background-color: rgba(0, 123, 255, 0.1);
  }
</style>
