<div class="">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button
      class="rounded-lg text-white text-sm py-2 px-3 bg-gray-800 hover:bg-gray-900"
      (click)="openAddClaseModal()"
    >
      <i class="bi bi-plus-circle"></i> Nueva Clase
    </button>
    <p class="text-muted mb-0">
      Total: {{ clasesPeriodoActivo.length }} clases registradas.
    </p>
  </div>

  <div class="w-full overflow-hidden rounded-lg shadow-lg bg-white">
    <div *ngIf="clasesPeriodoActivo.length === 0 && !isLoading" class="text-center p-4">
      <p class="text-gray-500">No hay clases disponibles.</p>
    </div>
    <div *ngIf="isLoading" class="text-center p-4">
      <p class="text-gray-500">Cargando clases...</p>
    </div>
    <div *ngIf="clasesPeriodoActivo.length > 0">
      <div class="w-full overflow-x-auto">
        <table class="w-full text-sm text-gray-700">
          <thead class="bg-gray-800 text-white uppercase text-xs font-semibold">
            <tr>
              <th class="px-6 py-3 text-left">Materia</th>
              <th class="px-6 py-3 text-left">Docente</th>
              <th class="px-6 py-3 text-left">Periodo</th>
              <th class="px-6 py-3 text-left">Hora Inicio</th>
              <th class="px-6 py-3 text-left">Hora Fin</th>
              <th class="px-6 py-3 text-left">Acciones</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr
              *ngFor="let clase of clasesPeriodoActivo; trackBy: trackById"
              class="hover:bg-gray-100 transition"
            >
              <td class="px-6 py-4 font-medium">
                {{ clase.materia.nombreMateria }}
              </td>
              <td class="px-6 py-4">
                {{ clase.docente.nombreDocente }}
                {{ clase.docente.apellidoDocente }}
              </td>
              <td class="px-6 py-4">{{ clase.periodo.nombrePeriodo }}</td>
              <td class="px-6 py-4">{{ clase.horaInicio }}</td>
              <td class="px-6 py-4">{{ clase.horaFin }}</td>
              <td class="text-center">
                <button
                  class="btn btn-sm btn-outline-dark mr-2"
                  (click)="openEditClaseModal(clase)"
                >
                  <i class="bx bxs-edit-alt"></i> Editar
                </button>
                <button
                  class="btn btn-sm btn-outline-danger"
                  (click)="eliminarClase(clase.idClase)"
                >
                  <i class="bx bxs-trash-alt"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal de agregar/editar clase -->
  <div
    class="modal fade"
    id="claseModal"
    tabindex="-1"
    aria-labelledby="claseModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-gray-800 text-white">
          <h5 class="modal-title" id="claseModalLabel">
            {{ isEditing ? "Editar Clase" : "Agregar Clase" }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="guardarClase()">
            <!-- Selector de Materia -->
            <div class="grid grid-cols-2 gap-4">
              <div class="mb-3">
                <label for="materia" class="form-label">Materia:</label>
                <select
                  id="materia"
                  [(ngModel)]="newClase.materia.idMateria"
                  name="materia"
                  class="form-select"
                  required
                >
                  <option [value]="null" disabled>
                    Selecciona una materia
                  </option>
                  <option
                    *ngFor="let materia of materias"
                    [value]="materia.idMateria"
                  >
                    {{ materia.nombreMateria }} - {{materia.nrc}}
                  </option>
                </select>
                <div *ngIf="!newClase.materia.idMateria" class="text-danger">
                  Selecciona una materia válida.
                </div>
              </div>

              <!-- Selector de Docente -->
              <div class="mb-3">
                <label for="docente" class="form-label">Docente:</label>
                <select
                  id="docente"
                  [(ngModel)]="newClase.docente.idDocente"
                  name="docente"
                  class="form-select"
                  required
                >
                  <option [value]="null" disabled>Selecciona un docente</option>
                  <option
                    *ngFor="let docente of docentes"
                    [value]="docente.idDocente"
                  >
                    {{ docente.nombreDocente }} {{ docente.apellidoDocente }}
                  </option>
                </select>
                <div *ngIf="!newClase.docente.idDocente" class="text-danger">
                  Selecciona un docente válido.
                </div>
              </div>
              <div class="mb-3">
                <label for="dia" class="form-label">Día</label>
                <select
                  [(ngModel)]="newClase.dia"
                  name="dia"
                  id="dia"
                  class="form-select"
                  required
                >
                  <option value="" disabled selected>Seleccione el día</option>
                  <option *ngFor="let dia of dias" [ngValue]="dia">
                    {{ dia }}
                  </option>
                </select>
              </div>
              <div class="mb-3">
                <label for="laboratorio" class="form-label">laboratorio:</label>
                <select
                  id="laboratorio"
                  [(ngModel)]="newClase.laboratorio.idLaboratorio"
                  name="laboratorio"
                  class="form-select"
                  required
                >
                  <option [value]="null" disabled>
                    Selecciona un laboratorio
                  </option>
                  <option
                    *ngFor="let laboratorio of laboratorios"
                    [value]="laboratorio.idLaboratorio"
                  >
                    {{ laboratorio.nombreLaboratorio }}
                  </option>
                </select>
                <div
                  *ngIf="!newClase.laboratorio.idLaboratorio"
                  class="text-danger"
                >
                  Selecciona un laboratorio válido.
                </div>
              </div>
              <!-- Selector de Hora de Inicio -->
              <div class="mb-3">
                <label for="horaInicio" class="form-label"
                  >Hora de Inicio</label
                >
                <select
                  [(ngModel)]="newClase.horaInicio"
                  name="newClase.horaInicio"
                  id="horaInicio"
                  class="form-select"
                  required
                >
                  <option value="" disabled selected>
                    Seleccione la hora de inicio
                  </option>
                  <option
                    *ngFor="let franja of franjasPermitidas"
                    [value]="franja.horaInicio"
                  >
                    {{ franja.horaInicio }}
                  </option>
                </select>
              </div>
              <div>
                <label for="horaFin" class="form-label">Hora de Fin</label>
                <select
                  [(ngModel)]="newClase.horaFin"
                  name="horaFin"
                  id="horaFin"
                  class="form-select"
                  required
                >
                  <option value="" disabled selected>
                    Seleccione la hora de fin
                  </option>
                  <option
                    *ngFor="let franja of franjasPermitidas"
                    [value]="franja.horaFin"
                  >
                    {{ franja.horaFin }}
                  </option>
                </select>
              </div>
            </div>

            <div class="text-end">
              <button
                type="submit"
                class="btn btn-dark mr-2"
                [disabled]="
                  isLoading ||
                  !newClase.materia.idMateria ||
                  !newClase.docente.idDocente
                "
              >
                <span
                  *ngIf="isLoading"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                {{ isEditing ? "Guardar Cambios" : "Crear Clase" }}
              </button>

              <button
                type="button"
                class="btn btn-warning"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
