<section class="section">
  <div class="left"></div>
  <div class="right">
    <div class="recuperar-container">
      <form
        [formGroup]="actualizarContrasenaForm"
        (ngSubmit)="actualizarContrasena()"
      >
        <h1>
          JEFATURA DE LABORATORIOS
          <span>DEPARTAMENTO DE CIENCIAS DE LA COMPUTACIÓN</span>
        </h1>

        <!-- Contraseña Actual -->
        <div class="password-container">
          <input
            [type]="mostrarPassword.current ? 'text' : 'password'"
            placeholder="Contraseña Actual"
            formControlName="currentPassword"
            required
          />
          <i
            class="password-icon bx"
            [class.bx-show]="!mostrarPassword.current"
            [class.bx-hide]="mostrarPassword.current"
            (click)="togglePassword('current')"
          ></i>
        </div>

        <!-- Nueva Contraseña -->
        <div class="password-container">
          <input
            [type]="mostrarPassword.new ? 'text' : 'password'"
            placeholder="Nueva Contraseña"
            formControlName="newPassword"
            required
          />
          <i
            class="password-icon bx"
            [class.bx-show]="!mostrarPassword.new"
            [class.bx-hide]="mostrarPassword.new"
            (click)="togglePassword('new')"
          ></i>
        </div>

        <!-- Confirmar Contraseña -->
        <div class="password-container">
          <input
            [type]="mostrarPassword.confirm ? 'text' : 'password'"
            placeholder="Confirmar Contraseña"
            formControlName="confirmPassword"
            required
          />
          <i
            class="password-icon bx"
            [class.bx-show]="!mostrarPassword.confirm"
            [class.bx-hide]="mostrarPassword.confirm"
            (click)="togglePassword('confirm')"
          ></i>
        </div>

        <button type="submit" [disabled]="actualizarContrasenaForm.invalid">
          Actualizar Contraseña
        </button>
      </form>
    </div>
  </div>
</section>
