// Imports
@use '../../../../../assets/scss/vars/colors' as colors;


.contenedor_service {
  display: grid;
  gap: 10px;
  padding: 10px 0;

  .contenedor_filtros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;

    .input {
      width: 80%;
    }
  }

  .contenedor_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    a {
      display: grid;
      text-decoration: none;
      transition: all 0.3s;

      .informacion_cards {
        display: grid;
     
      }

      &:hover {
        transform: scale(0.98);
      }
    }
  }
}
