<section class="content-sidebar">
  <div class="content scroll-small">
    <div class="sidebar">
      <!-- Identidad del sitio -->
      <a [routerLink]="routes[0]" class="logo_site">
        <div class="img_logo">
          <img src="assets/img/logos/Icon_profile.png" alt="logo" />
        </div>

        <div class="title-text">
          <p>{{ title }}</p>
        </div>
      </a>
      <!-- Items -->
      <div class="links_site">
        <nav class="nav">
          <ul class="nav-list">
            <!-- <div *ngIf="usuario.role !== 'Customer'"> -->
            <a [routerLink]="routes[0]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'dashboard' : undefined"
              [class.active-section]="activeLink.includes(routes[0])">
              <div class="icon-sidebar-item">
                <i class="bx bxs-pie-chart-alt-2"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Dashboard</li>
              </div>
            </a>

            <!-- Bandera -->
            <li class="divider" [pTooltip]="sidebarHidden ? 'ADMINISTRADOR' : undefined">
              ADMINISTRADOR
            </li>

            <a [routerLink]="routes[1]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Laboratorios' : undefined"
              [class.active-section]="activeLink.includes(routes[1])">
              <div class="icon-sidebar-item">
                <i class="bx bxs-flask"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Laboratorios</li>
              </div>
            </a>
            <a [routerLink]="routes[3]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Chat global' : undefined"
              [class.active-section]="activeLink.includes('{{ routes[3] }}')">
              <div class="icon-sidebar-item">
                <i class="bx bxs-calendar"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Reservas</li>
              </div>
            </a>

            <li class="submenu">
              <a [routerLink]="routes[4]" routerLinkActive="active-section"
                [pTooltip]="sidebarHidden ? 'Chat soporte' : undefined"
                [class.active-section]="activeLink.includes('{{ routes[4] }}')">
                <div class="icon-sidebar-item">
                  <i class="bx bxs-user"></i>
                </div>
                <div class="name-sidebar-item">
            <li>Usuarios</li>
      </div>
      </a>
      <ul class="submenu-list">
        <li>
          <a [routerLink]="routes[4_1]" routerLinkActive="active-section"
            [pTooltip]="sidebarHidden ? 'Submenu 1' : undefined"
            [class.active-section]="activeLink.includes('{{ routes[4_1] }}')">
            Submenu 1
          </a>
        </li>
        <li>
          <a [routerLink]="routes[4_2]" routerLinkActive="active-section"
            [pTooltip]="sidebarHidden ? 'Submenu 2' : undefined"
            [class.active-section]="activeLink.includes('{{ routes[4_2] }}')">
            Submenu 2
          </a>
        </li>
      </ul>
      </li>

      <a [routerLink]="routes[5]" routerLinkActive="active-section"
        [pTooltip]="sidebarHidden ? 'Verificar tareas' : undefined"
        [class.active-section]="activeLink.includes('{{ routes[5] }}')">
        <div class="icon-sidebar-item">
          <i class="bx bx-check-shield"></i>
        </div>
        <div class="name-sidebar-item">
          <li>Verificar tareas</li>
        </div>
      </a>

      <a [routerLink]="routes[6]" routerLinkActive="active-section" [pTooltip]="sidebarHidden ? 'Empleados' : undefined"
        [class.active-section]="activeLink.includes('{{ routes[6] }}')">
        <div class="icon-sidebar-item">
          <i class="bx bxs-user-detail"></i>
        </div>
        <div class="name-sidebar-item">
          <li>Empleados</li>
        </div>
      </a>

      <a [routerLink]="routes[7]" routerLinkActive="active-section"
        [pTooltip]="sidebarHidden ? 'Solicitudes de empleo' : undefined"
        [class.active-section]="activeLink.includes('{{ routes[7] }}')">
        <div class="icon-sidebar-item">
          <i class="bx bx-user-plus"></i>
        </div>
        <div class="name-sidebar-item">
          <li>Solicitudes de empleo</li>
        </div>
      </a>

      <!-- Bandera -->
      <!-- <div *ngIf="usuario.role !== 'Colaborador'"> -->
      <!-- <li class="divider" [pTooltip]="sidebarHidden ? 'EMPLEADO' : undefined">
              EMPLEADO
            </li>

            <a [routerLink]="routes[2]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Servicios empleado' : undefined"
              [class.active-section]="activeLink.includes('{{ routes[2] }}')">
              <div class="icon-sidebar-item">
                <i class="bx bxs-dashboard"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Servicios empleado</li>
              </div>
            </a>

            <a [routerLink]="routes[8]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Chats' : undefined"
              [class.active-section]="activeLink.includes('{{ routes[8] }}')">
              <div class="icon-sidebar-item">
                <i class="bx bxs-conversation"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Chats</li>
              </div>
            </a>

            <a [routerLink]="routes[9]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Tareas completadas' : undefined"
              [class.active-section]="activeLink.includes('{{ routes[9] }}')">
              <div class="icon-sidebar-item">
                <i class="bx bx-task"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Tareas completadas</li>
              </div>
            </a>

            <a [routerLink]="routes[10]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Cartera' : undefined"
              [class.active-section]="activeLink.includes('{{ routes[10] }}')">
              <div class="icon-sidebar-item">
                <i class="bx bx-wallet"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Cartera</li>
              </div>
            </a>

            <a [routerLink]="routes[11]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Soporte' : undefined"
              [class.active-section]="activeLink.includes('{{ routes[11] }}')">
              <div class="icon-sidebar-item">
                <i class="bx bx-support"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Soporte</li>
              </div>
            </a> -->

      <!-- Bandera -->
      <!-- </div> -->
      <li class="divider" [pTooltip]="sidebarHidden ? 'CLIENTE' : undefined">
        CLIENTE
      </li>

      <a [routerLink]="routes[12]" routerLinkActive="active-section" [pTooltip]="sidebarHidden ? 'Chats' : undefined"
        [class.active-section]="activeLink.includes('{{ routes[12] }}')">
        <div class="icon-sidebar-item">
          <i class="bx bxs-conversation"></i>
        </div>
        <div class="name-sidebar-item">
          <li>Chats</li>
        </div>
      </a>

      <a [routerLink]="routes[13]" routerLinkActive="active-section" [pTooltip]="sidebarHidden ? 'Soporte' : undefined"
        [class.active-section]="activeLink.includes('{{ routes[13] }}')">
        <div class="icon-sidebar-item">
          <i class="bx bx-support"></i>
        </div>
        <div class="name-sidebar-item">
          <li>Soporte</li>
        </div>
      </a>
      </ul>
      </nav>
    </div>
  </div>
  </div>


</section>