<section class="content-sidebar">
  <div class="content scroll-small">
    <div class="sidebar">
      <!-- Identidad del sitio -->
      <a [routerLink]="routes[0]" class="logo_site">
        <div class="img_logo">
          <img src="assets/img/logos/Icon_profile.png" alt="logo" />
        </div>

        <div class="title-text">
          <p>{{ title }}</p>
        </div>
      </a>
      <!-- Items -->
      <div class="links_site">
        <nav class="nav">
          <ul class="nav-list">
            <!-- <div *ngIf="usuario.role !== 'Customer'"> -->
            <a [routerLink]="routes[0]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'dashboard' : undefined"
              [class.active-section]="activeLink.includes(routes[0])">
              <div class="icon-sidebar-item">
                <i class="bx bxs-dashboard"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Dashboard</li>
              </div>
            </a>

            <a [routerLink]="routes[1]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Laboratorios' : undefined"
              [class.active-section]="activeLink.includes(routes[1])">
              <div class="icon-sidebar-item">
                <i class="bx bxs-flask"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Laboratorios</li>
              </div>
            </a>
            <a [routerLink]="routes[2]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Reservas' : undefined"
              [class.active-section]="activeLink.includes(routes[2])">
              <div class="icon-sidebar-item">
                <i class="bx bxs-calendar-check"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Reservas</li>
              </div>
            </a>
            <a [routerLink]="routes[3]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Materias' : undefined"
              [class.active-section]="activeLink.includes(routes[3])">
              <div class="icon-sidebar-item">
                <i class="bx bxs-book"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Materias</li>
              </div>
            </a>
            
            <!-- <li class="divider" [pTooltip]="sidebarHidden ? 'ADMINISTRADOR' : undefined">
              Usuarios
            </li>

            <a [routerLink]="routes[4]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Roles' : undefined" [class.active-section]="activeLink.includes(routes[4])">
              <div class="icon-sidebar-item">
                <i class="bx bxs-user-badge"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Roles</li>
              </div>
            </a>
            <a [routerLink]="routes[4]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Docentes' : undefined"
              [class.active-section]="activeLink.includes(routes[4])">
              <div class="icon-sidebar-item">
                <i class="bx bxs-chalkboard"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Docentes</li>
              </div>
            </a>
            <li class="divider" [pTooltip]="sidebarHidden ? 'ADMINISTRADOR' : undefined">
              Áreas
            </li>
            <a [routerLink]="routes[5]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Carreras' : undefined"
              [class.active-section]="activeLink.includes(routes[5])">
              <div class="icon-sidebar-item">
                <i class="bx bxs-graduation"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Carreras</li>
              </div>
            </a>
            <a [routerLink]="routes[5]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Departamentos' : undefined"
              [class.active-section]="activeLink.includes(routes[5])">
              <div class="icon-sidebar-item">
                <i class="bx bxs-building"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Departamentos</li>
              </div>
            </a>
          
            <li class="divider" [pTooltip]="sidebarHidden ? 'ADMINISTRADOR' : undefined">
              Horarios
            </li>
            <a [routerLink]="routes[6]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Horario 1' : undefined"
              [class.active-section]="activeLink.includes(routes[6])">
              <div class="icon-sidebar-item">
                <i class="bx bxs-time"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Horario 1</li>
              </div>
            </a>

            <a [routerLink]="routes[7]" routerLinkActive="active-section"
              [pTooltip]="sidebarHidden ? 'Horario 2' : undefined"
              [class.active-section]="activeLink.includes(routes[7])">
              <div class="icon-sidebar-item">
                <i class="bx bxs-time-five"></i>
              </div>
              <div class="name-sidebar-item">
                <li>Horario 2</li>
              </div>
            </a> -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>