<div class="">
    <div class="w-full overflow-hidden rounded-lg shadow-lg bg-white ">
        <div class="w-full overflow-x-auto">
            <table class="w-full text-sm text-gray-700">
                <thead class="bg-gray-800 text-white uppercase text-xs font-semibold">
                    <tr>
                        <th class="px-6 py-3 text-left">Nombre Materia</th>
                        <th class="px-6 py-3 text-left">NRC</th>
                        <th class="px-6 py-3 text-left">Docente</th>
                        <th class="px-6 py-3 text-left">Departamento</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    @if (materias.length === 0) {
                    <tr>
                        <td colspan="4" class="text-center py-4 text-gray-500">
                            No hay materias disponibles.
                        </td>
                    </tr>
                    } @for (materia of materias; track materia.idMateria) {
                    <tr class="hover:bg-gray-100 transition">
                        <td class="px-6 py-4 font-medium">{{ materia.nombreMateria }}</td>
                        <td class="px-6 py-4">{{ materia.nrc }}</td>
                        <td class="px-6 py-4">{{ materia.docente.nombreDocente }} {{ materia.docente.apellidoDocente }}
                        </td>
                        <td class="px-6 py-4">{{ materia.docente.departamento.nombreDepartamento }}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>