<section class="content_chat_component">
  <div class="chat">

    <div class="contact bar">

      <div class="name">
        <span class="nameEmployee">{{ name1 }}</span>
        <span class="nameClient">{{ name2 }}</span>
      </div>

      <div class="title_orden">
        <span>{{ description }}</span>
      </div>

    </div>

    <div class="messages" id="chat">

      <div class="message" [ngClass]="msg.sender" *ngFor="let msg of messages">
        <span class="user-name">{{ msg.user }}</span> {{ msg.text }}
      </div>

      <!-- <div class="message stark">
        <div class="typing typing-1"></div>
        <div class="typing typing-2"></div>
        <div class="typing typing-3"></div>
      </div> -->
    </div>

    <div class="content_text">
      <input [(ngModel)]="newMessage" placeholder="Escribe un mensaje" type="text" />
      <button class="button2 efects_button btn_nuevo" [style.width]="'5vw'" >
        <span class="pi pi-send"></span> Enviar
      </button>
    </div>

  </div>
</section>
