<section class="contenedor_service">
  <div class="contenedor_filtros">
    <div>dksalkd</div>
  </div>

  <hr class="divisor" />

  <!-- [routerLink]="['/jugador/chat', orden.order_item_id]" -->
  <div class="contenedor_cards" >
    <a
      *ngFor="let orden of ordenes"
    >
      <p-card
        [header]="orden.order_item_name"
        [subheader]="orden.order_item_name"
        [style]="{ width: '360px' }"
        (click)="acceptOrder(orden); $event.stopPropagation()"
      >
        <div class="informacion_cards">
          <span>Tipo de tarea: {{ orden.type }}</span>
          <span>Ganancia: $ {{ orden.total_amount }}</span>
          <span>Estado: {{ orden.status }}</span>
          <!-- <span>Aceptado: {{ orden. ? "Sí" : "No" }}</span> -->
        </div>
      </p-card>
    </a>
  </div>
</section>
